## Added for github

src/main/resources/
conf/
etl-projects/
##

*.log
*.iml
*.ipr
*.iws
project/project/
project/target/
lib/
archive/
documents/
target/
etl-projects/audgendb/transforms/conf
etl-projects/audgendb/extractions/conf
etl-projects/audgendb/load/conf
etl-projects/audgendb/conf
rules_request_response_generator/
extraction-source.properties  
load-source.properties  
transform-source.properties
extraction-target.properties  
load-target.properties  
transform-target.properties
audgendb-postgres-dev-production.properties
audgendb-postgres-production.properties
audgendb-postgres-qe.properties
audgendb-postgres-staging.properties
clarity-oracle.properties
mysql.properties
oracle.properties
props.properties
sqlserver.properties
.DS_Store
